{% extends 'doctormain.html' %}
{% block nodir %}


    <table class="tugallanmagan">
    <tr>
        <th colspan="4">ТУГAЛЛAНМAГAН БЕМОРЛAР</th>
    </tr>
    <tr id="FIO">
        <td >Исм Фамилияси</td>
        <td>Манзили</td>
        <td>Тел рақами</td>
        <td>Қабул қилинган сана</td>
    </tr>
        {% for patient in patients %}
    <tr>
        <td><a href="{% url 'patient' patient.id %}">{{ patient.last_name }}  {{ patient.first_name }}</a></td>
        <td>{{ patient.city }}</td>
        <td>{{ patient.work_phone }}</td>
        <td>{{ patient.created_data }}</td>
    </tr>
    {% endfor %}
    </table>



{% endblock %}