<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Mualliflar haqida</title>
    <link rel="stylesheet" href="{% static 'main/main.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
</head>



<body     style="background-image: url('https://www.connexionfrance.com/var/connexion/storage/images/_aliases/social_network_image/media/images/doctor/551577-1-eng-GB/doctor.jpg'); background-repeat: no-repeat; 
background-size: cover;">





<header>
    <div class="container my-5">
        <div class="row float-right">

            <div class="">
                {% if request.user.status == 'doctor' %}
                    <a href="{% url 'doctor' %}" class="btn btn-primary singup">Doctor page</a>
                    <a href="{% url 'logout' %}" class="btn btn-primary login">Log out</a>
                {% elif request.user.status == 'admin' %}
                    <a href="{% url 'admin' %}" class="singup btn btn-primary">Admin page</a>
                    <a href="{% url 'logout' %}" class="login btn btn-primary">Log out</a>
                {% else %}
                    <a href="{% url 'signup' %}" class="singup btn btn-primary">Sign up</a>
                    <a href="{% url 'login' %}" class="login btn btn-primary">Login</a>
                {% endif %}
            </div>
        </div>
     
    </div>
</header>


<!-- <div class="header" style="background-color: blue; color: white;width: 100%;height: 50px; text-align: center">
    <div >
        <h1>Дастурий восита муаллифлари ҳақида</h1>
    </div>
</div> -->
<!-- <div class="creators"> -->
    {% for i in creators %}
        <div class="container">
            <div class="creators__items">
                <div class="nodirjon">
                    <img src="{{ i.imageURL }}" alt="rasm" class="img">
                </div>
                <div class="name">{{ i.name }}</div>
                <div class="about">{{ i.description }}</div>
                <div class="contacts">
                    <div class="tel">tel: {{ i.phone }}</div>
                    <div class="email">{{ i.email }}</div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>





<div class="container">
    <div class="row ">
        <div class="col-md-4">
            <img src="https://avatars.mds.yandex.net/i?id=9a19d9e45fdc8b4205f2a10b89ad48bd-4338366-images-thumbs&n=13" alt=""  width="250px" >
        </div>
        <div class="col-md-4">
            <img src="https://avatars.mds.yandex.net/i?id=1d9cf0b29902347d9343fc788064b12e-4576810-images-thumbs&n=13" alt=""  width="250px">
        </div>
        <div class="col-md-4">
            <img src="https://avatars.mds.yandex.net/i?id=2a0000017a0cf2b92cac607688f7f733faed-4256762-images-thumbs&n=13" alt=""  width="250px">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-3">
            <h1 class="text-primary text-center pt-5">E-ischemic cardio diagnosis</h1>

            <span class="pt-4 text-white text-center rounded-lg" style="display: inline-block; width: 600px; height: 120px; background-color: rgba(0, 13, 255, 0.658);">
                Шифокорлар томонидан юрак ишемик касалликларига чалинган
                беморларга ташхис қўйишларида уларга оқилона қарор қабул
                қилишлари учун кўмак берувчи замонавий таниб олиш тизими

            </span>
    
        <!-- <div class="pt-5">
            <p class="pt-5 text-primary" style="font-size: 20px;">  Шифокорлар томонидан юрак ишемик касалликларига чалинган
                беморларга ташхис қўйишларида уларга оқилона қарор қабул
                қилишлари учун кўмак берувчи замонавий таниб олиш тизими
            </p>
        </div> -->
        </div>
    </div>
</div>





<div id="page-preloader" class="preloader">
    <div class="loader">
        <div class="preloader-first"></div>
        <div class="preloader-second"></div>    
        <div class="preloader-third"></div>
        <span>Loading...</span>
    </div>
</div>

















<script>
    document.body.onload = function() {

    setTimeout(function()  {

        if( !preloader.classList.contains('done'))
        {
            preloader.classList.add('done');
        }
    } , 300);
}

</script>


<script src="{% static 'main/main.js' %}"></script>
</body>
</html>