{% extends 'extend.html' %}
{% block nodir %}


    <div class="buttons">
        <a onclick="render_class_norm('1-class')" href="#" class="btn btn-primary">Class1</a>
        <a onclick="render_class_norm('2-class')" href="#" class="btn btn-primary">Class2</a>
        <a onclick="render_class_norm('3-class')" href="#" class="btn btn-primary">Class3</a>
        <a onclick="render_class_norm('4-class')" href="#" class="btn btn-primary">Class4</a>
        <a onclick="render_class_norm('5-class')" href="#" class="btn btn-primary">Class5</a>
        <div class="btn" id="downloadexcel">

    </div>
    </div>


    <table class="table" id="normal">


    </table>
    <table class="table", id="middledata">

    </table>
    <table class="table" id="nolbir">


    </table>





{% endblock %}