{% extends 'extend.html' %}
{% block nodir %}
    <div class="buttons">
        <a onclick="render_class_normallashtir('1-class')" href="#" class="btn btn-primary">Class1</a>
        <a onclick="render_class_normallashtir('2-class')" href="#" class="btn btn-primary">Class2</a>
        <a onclick="render_class_normallashtir('3-class')" href="#" class="btn btn-primary">Class3</a>
        <a onclick="render_class_normallashtir('4-class')" href="#" class="btn btn-primary">Class4</a>
        <a onclick="render_class_normallashtir('5-class')" href="#" class="btn btn-primary">Class5</a>
    <div class="btn" id="downloadexcel">

    </div>
    </div>

    <table class="table" id="classobyekt">

    </table>

    <table class="table", id="abcalculus">

    </table>



    <table class="table" id="normallashtirish">
    </table>
{% endblock %}