{% extends 'extend.html' %}
{% block nodir %}

    <button class="btn btn-primary text-black" onclick="render_class_sinflashtir({{ patients.id }})">{{ patients.last_name }} {{ patients.first_name }}</button>

    <table class="table" id="class1">

    </table>
    <table class="table" id="class2">

    </table>
    <table class="table" id="class3">

    </table>
    <table class="table" id="class4">

    </table>
    <table class="table" id="class5">

    </table>
    <div id="Tashxis">

    </div>
{% endblock %}