{% extends 'extend.html' %}
{% block nodir %}
<form action="" method="post">
    {% csrf_token %}
<table class="table">
    <tr>
        <th colspan="2">Aдминистратор паролини ўзгартириш ойнаси</th>
    </tr>
    <tr>
        <td>
            Жорий парол
        </td>
        <td><input name="pass1" type="text"></td>
    </tr>
    <tr>
        <td>Янги парол</td>
        <td><input name="newpass1" type="text"></td>
    </tr>
    <tr>
        <td>Паролни қайта киритинг</td>
        <td><input name="newpass2" type="text"></td>
    </tr>
</table>
<button type="submit" class="ml-4 btn btn-primary">Сақлаш</button>
</form>

<p>{{ error }}</p>

{% endblock %}